<h1>{{ instance.poll.question }}</h1>

<form action="{% url 'like_vote' instance.like.id %}" method="post">
    {% csrf_token %}
    {% for choice in instance.poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
</form>