{% extends "base.html" %}

{% block content %}
<h1>{{ poll }}</h1>
<ul>
    {% for choice in poll.choice_set.all %}
    <li>{{ choice }} ({{choice.votes}} głosów)</li>
    {% endfor %}
</ul>
<a href="{% url 'poll_list' %}">Powrót do listy pytań</a>
{% endblock %}